body{
	background-color: rgb(212,214,221);
}

.main-container{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 5rem;
	background-color: white;
	width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 2px #888;
}

.input-text{
	display: flex;
	justify-content: space-around;
	background-color: rgb(238,238,238);
	height: 3rem;
    width: 35rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
}

.icon{
	height: 25px;
	width: 25px;
	margin-top: 0.4rem;
}

.inp-text{
	height: 25px;
	width: 29rem;
	margin-top: 0.6rem;
	border: none;
	background-color: rgb(238,238,238);
}

.add{
	height: 33px;
    width: 30px;
    margin-top: 0.4rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.complete-task{
	margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(176,172,164);
}

.inner-text{
	display: inline-block;
	margin-left: 1rem;
	width: 25rem;
}


.input-value{
	border: none;
	background-color: white;
	width: 85%;
	font-size: 20px;
    font-weight: 600;
    margin-left: 0.5rem;
}

.circle{
	border: none;
	background-color: white;
	cursor: pointer;
}

.delete{
	border: none;
	background-color: white;
	cursor: pointer;
}

.task-list{
	margin-top: 1.5rem;
	display: flex;
    justify-content: space-around;
}